## 1. Introduction to List

### Constructing Lists
To create a list, use square brackets [] and separate items in the list with commas. A list can be empty or contain any number of items with different data types (integers, floats, strings, etc.)

In [1]:
# create an empty list
empty_list = []
empty_list

[]

In [2]:
#nested list
my_list = [['Data Science','Machine Learning'],[135,232,321]]
my_list

[['Data Science', 'Machine Learning'], [135, 232, 321]]

### Accessing Elements in a List
You can access the list items by referring to the index number

#### Indexing:
We use the index operator []. Each item in a list has an assigned index value. Note that the index starts from 0 in python and must be an integer.

Print the second item of the list

In [4]:
# define a list
course = ['data science','machine learning','python','html','big data']
print(course)
# access the second item of a list at index 1
print (course[1])

['data science', 'machine learning', 'python', 'html', 'big data']
machine learning

#### Negative indexing:
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item

Print the second last item of the list

In [8]:
# define a list
course = ['data science','machine learning','python','html','big data']

# access the second last item of a list at index -2
print (course[-2])

html

#### Slicing of a list
List uses the slicing operator : (colon) to extract part of the sequence

Return first three elements from the list

In [11]:
# define a list
course = ['data science','machine learning','python','html','big data']

# print first three elements from the list
course[:3]

['data science', 'machine learning', 'python']

Select elements from beginning to end

In [15]:
# define a list
course = ['data science','machine learning','python','html','big data']

# print all the elements
course[:]

['data science', 'machine learning', 'python', 'html', 'big data']

Return from third element

In [17]:
# define a list
course = ['data science','machine learning','python','html','big data']

# print from third element
course[2:]

['python', 'html', 'big data']

If all three start, stop, and step are provided, it generates portion of sequence after index start till stop with increment of index step

In [22]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[2:7:2])

[3, 5, 7]

#### Change Item Value
Refer the index number to change the value of a specific item

In [23]:
# define a list
course = ['data science','machine learning','python','html','big data']

# change the third item
course[3] = 'statistics'
course

['data science', 'machine learning', 'python', 'statistics', 'big data']

### List Methods
Python has a set of built-in methods that you can use on lists and arrays

Python has built-in methods that you can use on lists:<br>
append()<br>
insert()<br>
extend()<br>
del<br>
remove()<br>
pop()<br>
reverse()<br>

#### list.append(item)
The method list.append(item) will add the element at the end of a list

In [26]:
# define a first list
course1 = ['data science','machine learning','python','html','big data']

# add element to the list
course2 = ['statistics']
course1.append(course2)
course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 ['statistics']]

#### list.insert(i, item)
This method will insert an element at the ith index in a list

In [27]:
# define a  first list
course = ['data science','machine learning','python','html','big data']

# insert element at 2nd index in a list
course.insert(2,'statistics')
course

['data science',
 'machine learning',
 'statistics',
 'python',
 'html',
 'big data']

#### list.extend(items)
The extend method concatenates lists

In [28]:
# define a first list
course1 = ['data science','machine learning','python','html','big data']

# define a second list
course2 = ['artificial intelligence']

# concatenate the list
course2 = ['artificial intelligence']
course1.extend(course2)
course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

#### **Deleting List Elements**
Use the del keyword to delete an item at specific index

In [29]:
# define a first list
course = ['data science','machine learning','python','html','big data']

# delete the third element from the list
del course[2]
course

['data science', 'machine learning', 'html', 'big data']

#### list.remove(item)
It will search and remove only the first occurrence of an item

In [30]:
# define a first list
course = ['data science','machine learning','python','html','big data']

course.remove('html')
course

['data science', 'machine learning', 'python', 'big data']

#### **list.pop()**
Removes and returns the last item of a list

In [34]:
# define a first list
course = ['data science','machine learning','python','big data','html']

course.pop(1)
course

['data science', 'python', 'big data', 'html']

#### list.reverse()
The reverse method reverses the sorting order of the elements

In [32]:
# define a first list
course = ['data science','machine learning','python','big data','html']

course.reverse()
course

['html', 'big data', 'python', 'machine learning', 'data science']

### Common List Operations

#### Concatenation(+)
Concatenation uses the + Operator. It combines lists

In [37]:
# define a first list
course1 = ['data science','machine learning','python','html','big data']

# define a second list
course2 = ['artificial intelligence','statistics']

# concatenate the list
course1 + course2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence',
 'statistics']

#### Repetition(*)
Use the * operator. Concatenates a list a repeated number of times

In [36]:
# define a first list
course1 = ['data science','machine learning','python','html','big data']

course1*2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'data science',
 'machine learning',
 'python',
 'html',
 'big data']

## 2. Introduction to Tuples

### Creating Tuple
Here, we are creating few tuples. We can have tuple of same type of data items as well as mixed type of data items

In [39]:
# tuple of int, float, string
my_tuple = (123, 2.228, "hello python")
print(my_tuple)

(123, 2.228, 'hello python')

In [40]:
# tuple of string and list
my_tuple = ("python", [12, 12, 31])
print(my_tuple)

('python', [12, 12, 31])

### Access Tuple Elements
We use indexes to access the elements of tuple

In [41]:
# tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# access the second element from the list
my_tuple[1]

'yellow'

#### **Negative Indexing**
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item

In [43]:
# tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# print last item of the tuple
my_tuple[-1]

'blue'

#### Change Tuple Values
We cannot change the elements of a tuple because elements of a tuple are immutable. However, we can change the elements of nested items that are mutable.

In [44]:
my_tuple = (123, ['s', 'a', 'v'], "world")
print(my_tuple)

# changing the element of the list
# this is valid because list is mutable
my_tuple[1][2] = 99
print(my_tuple)

(123, ['s', 'a', 'v'], 'world')
(123, ['s', 'a', 99], 'world')

In [45]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# changing an element of the tuple
# this is invalid since tuple elements are immutable
my_tuple[0] = 'orange'

TypeError: 'tuple' object does not support item assignment

### Delete Operation on Tuple
We already discussed above that tuple elements are immutable, which also means that we cannot delete elements of a tuple. However, deleting entire tuple is possible

In [46]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

### Tuple Methods

Python has two built-in methods that you can use on tuples:<br>
count()<br>
index()<br>

And a function:<br>
sorted()<br>

#### count()
Returns the number of times a specified value occurs in a tuple

In [47]:
my_tuple = ('a', 'p', 'p', 'l', 'e', 'e', 'd', 'e', 'd', 'e', 'a', 'c', 'w')
my_tuple.count('e')

4

#### index()
Searches the tuple for a specified value and returns the position of where it was found

In [48]:
my_tuple = ('a', 'p', 'p', 'l', 'e', 'e', 'd', 'e', 'd', 'e', 'a', 'c', 'w')
my_tuple.index('l')

3

#### sorted()
It sorts a tuple and always returns a list with the elements in a sorted manner

In [50]:
my_tuple = (2, 3, 5, 6, 4, 7, 8, 9, 9, 2, 3)
sorted(my_tuple)

[2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 9]

## 3.  Introduction to Dictionary

#### General Syntax of Dictionary:
dictionary_name = {
                   key_1:value_1,
                   key_2:value_2,
                   key_3:value_3
                   }

### Create Dictionary
Separate keys from values with a colon(:), and a pair from another by a comma(,). Put it all in curly braces

In [55]:
# create dictionary
balance = {
           "Mia":83847,
           "John":83837,
           "Jill":94766
          }
print(balance)

{'Mia': 83847, 'John': 83837, 'Jill': 94766}

### Accessing items
You can access the items of a dictionary by referring to its key name, inside square brackets

In [56]:
# Get the value of "Mia" key
x = balance["Mia"]
x

83847

We can use get method to get the value of "Mia" key

In [57]:
x = balance.get("Mia")
x

83847

### Change Values
You can change the value of a specific element by referring to its key name

In [58]:
# create dictionary
year_sales = {
           2015:34500,
           2016:34300,
           2017:40000
          }

year_sales

{2015: 34500, 2016: 34300, 2017: 40000}

In [59]:
# change the sales figures for 2015
year_sales[2015] = 45000

year_sales

{2015: 45000, 2016: 34300, 2017: 40000}

### Dictionary Length

In [60]:
# print the length of the dictionary
print(len(year_sales))

3

### Adding items
Adding an item to the dictionary is done by using a new index key and assigning a value to it

In [63]:
# create dictionary
year_sales = {
           2015:34500,
           2016:34300,
           2017:40000
          }

year_sales[2018] = 55000

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, 2018: 55000}

### Dictionary Method

#### Removing Items
There are several methods to remove items from a dictionary:<br>
pop() method<br>
popitem() method<br>
del keyword<br>
clear keyword<br>

#### pop()
The pop() method removes the item with the specified key name

In [62]:
# create dictionary
year_sales = {
           2015:34500,
           2016:34300,
           2017:40000
          }

# remove key from dictionary
year_sales.pop(2015)

year_sales

{2016: 34300, 2017: 40000}

#### **popitem()**
The popitem() method removes the last inserted item

In [64]:
# create dictionary
year_sales = {
           2015:34500,
           2016:34300,
           2017:40000
          }

# remove last item from the dictionary
year_sales.popitem()

year_sales

{2015: 34500, 2016: 34300}

#### del keyword
The del keyword removes the item with the specified key name

In [65]:
# create dictionary
year_sales = {
           2015:34500,
           2016:34300,
           2017:40000
          }

# delete item from the dictionary
del year_sales[2015]

year_sales

{2016: 34300, 2017: 40000}

#### **clear()**
The clear method empties the dictionary

In [66]:
# create dictionary
year_sales = {
           2015:34500,
           2016:34300,
           2017:40000
          }

# clear the dictionary
year_sales.clear()

year_sales

{}

#### copy()
You cannot copy a dictionary simply by typing dict2 = dict1, because dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.
You can use copy() method to make copy of dictionary

In [70]:
# create dictionary
year_sales = {
           2015:34500,
           2016:34300,
           2017:40000
          }

# make a copy of the dictionary
copy_dict = year_sales.copy()
copy_dict

{2015: 34500, 2016: 34300, 2017: 40000}

#### sorted()
Return a new sorted list of keys in the dictionary

In [71]:
Square = {1:1, 5:25, 7:49, 3:9, 9:81}
sorted(Square)

[1, 3, 5, 7, 9]

#### update()
We can also add and modify dictionaries by using the dict.update() method

In [68]:
# create dictionary
year_sales = {
           2015:34500,
           2016:34300,
           2017:40000
          }

# update dictionary
year_sales.update({2018:30000})

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, 2018: 30000}

## 4. Introduction to Sets

### Creating Sets
In Python, sets are written with curly brackets

In [72]:
# create a set
s = {1, 2, 3, 3, 4, 3, 3, 2, 2, 2}
print(s)

# create a set
set([1, 2, 3, 4, 4, 4])

{1, 2, 3, 4}

{1, 2, 3, 4}

Python has the following methods that you can use on sets:<br>
add()<br>
update()<br>
len()<br>
remove()<br>
pop()<br>

## 5. Conditional Statements and Loops

### 5.1 If Statement

#### **syntax**
if BOOLEAN EXPRESSION:<br>
&nbsp;&nbsp; STATEMENTS

Now, we will see some examples on if statements

In [74]:
# create a string
my_string = 'Python'

# create a list
my_list = ['Data Science', 'Machine Learning', 'Artificial Intelligence', 'Python']

if my_string in my_list:
    print(my_string + ' Tutorial')

Python Tutorial

Test whether an item is a member of a list or not.

In [75]:
languages = ['java', 'python', 'perl', 'ruby', 'c#']
if 'python' in languages:
    print('right')

right

### 5.2 if  else statement

#### **Syntax of if ... else**
if BOOLEAN EXPRESSION:<br>
&nbsp;&nbsp; STATEMENTS_1<br>
else:<br>
&nbsp;&nbsp; STATEMENTS_2<br>

Let's see an example of the implementation of the if ... else statement

In [78]:
# create an integer
x = 500
print(x)

# use the not operator to reverse the result of the logical expression
if not x == 500:
    print('The value of x is different from 500')
else:
    print('The value of x is equal to 500')

500
The value of x is equal to 500

In [82]:
string1 = str(input('enter your user id '))
string2 = str(input('enter your password '))

if (string1 == "greatlearning" and string2 == "simplelearning123" ):
    print("Successfully logged in!!")
else:
    print('Please check your user id and password')

enter your user id greatlearning
enter your password y
Please check your user id and password

### 5.3 if elif else

#### **Syntax of if elif else:**
if x<y:<br>
&nbsp;&nbsp; STATEMENTS_A<br>
elif x>y:<br>
&nbsp;&nbsp; STATEMENTS_B<br>
else:<br>
&nbsp;&nbsp; STATEMENTS_C<br>

Check whether the given number is greater than 50 or not

In [84]:
num = 100

if (num == 0):
    print("Number is Zero")
elif (num > 50):
    print("Number is greater than 50")
else:
    print("Number is less than 50")

Number is greater than 50

### 5.4 nested if and if else statement

In [89]:
num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: -5
Negative number

### 5.5 for loop

#### **Syntax of for loop**
for val in sequence:<br>
&nbsp;&nbsp; Body of for

In [96]:
# Program to find the sum of all numbers stored in a list

# list of numbers
numbers = [66, 545, 223, 438, 224, 122, 125, 214, 111]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum + val

# Output: The sum is
print("The sum is ", sum)

The sum is  2068

### 5.6 while loop

#### **Syntax of while loop**
while (expression):<br>
&nbsp;&nbsp; Statement_1<br>
&nbsp;&nbsp; Statement_2<br>
&nbsp;&nbsp; ...

Calculate the sum of the integers from 0 to 9

In [97]:
a = 0
b = 0
while (a < 10):
    b = b + a
    a = a+1
else:
    print('The sum of first 9 integers ', b)

The sum of first 9 integers  45

### 5.7 break statement

Check whether a number entered by the user is negative or not

In [99]:
for i in range(5):
    a = int(input())
    if a < 0:
        print('Met a negative number', a)
        break
else:
    print('No negative numbers met')

6
1000
-9
Met a negative number -9

### 5.8 continue statement

In [100]:
# loop from 1 to 10
for i in range(1,11):
    if i == 6:
        continue
    else:
        # otherwise print the value of i
        print(i, end = " ")

1 2 3 4 5 7 8 9 10

Use the continue statement in a while loop

In [101]:
i = 0
while i < 9:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9